html {
  font-family: sans-serif;
  background-color: #404e5c;
  color: #404e5c;
}

body {
  margin: 0px;
  padding: 0rem 1rem;
}

nav {
  background-color: #ef6f6c;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

img {
  border-radius: 1rem;
}

button {
  width: 5rem;
  height: 5rem;
  background-color: #fbbfca;
  border: 1px solid #ef6f6c;
  border-radius: 4rem;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #ef6f6c;
  cursor: pointer;
}

select {
  appearance: none;
  width: 200px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #404e5c;
  border: none;
  border-radius: 2rem;
  color: #d6eadf;
  cursor: pointer;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 40vw;
  background-color: #6699cc;
  padding: 1rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #d6eadf;
}

.cardArea {
  width: 100%;
  margin: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
